In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("movies1_info.csv", sep=';')
df.head(10)

,id,movie,uri,director,starring
0,781,Stealing Beauty (1996),http://dbpedia.org/resource/Stealing_Beauty,Bernardo Bertolucci,"Sinéad Cusack,Joseph Fiennes,Rachel Weisz,Jere..."
1,1799,Suicide Kings (1997),http://dbpedia.org/resource/Suicide_Kings,Peter O'Fallon,"Henry Thomas,Denis Leary,Christopher Walken,Ja..."
2,521,Romeo Is Bleeding (1993),http://dbpedia.org/resource/Romeo_Is_Bleeding,Peter Medak,"Roy Scheider,Annabella Sciorra,Lena Olin,Gary ..."
3,3596,Screwed (2000),http://dbpedia.org/resource/Screwed_(2000_film),Scott Alexander,"Sarah Silverman,Danny DeVito,Norm Macdonald,El..."
4,3682,Magnum Force (1973),http://dbpedia.org/resource/Magnum_Force,Ted Post,"Clint Eastwood,Robert Urich,David Soul,Tim Mat..."
5,2635,"Mummy's Curse, The (1944)",http://dbpedia.org/resource/The_Mummy's_Curse,Leslie Goodwins,Virginia Christine
6,1590,Event Horizon (1997),http://dbpedia.org/resource/Event_Horizon_(film),Paul W. S. Anderson,"Kathleen Quinlan,Sam Neill,Joely Richardson,La..."
7,116,Anne Frank Remembered (1995),http://dbpedia.org/resource/Anne_Frank_Remembered,Jon Blair,"Glenn Close,Kenneth Branagh,Sir Kenneth Branagh"
8,3719,Love's Labour's Lost (2000),http://dbpedia.org/resource/Love's_Labour's_Lo...,Jon Blair,NaN
9,3811,Breaker Morant (1980),http://dbpedia.org/resource/Breaker_Morant_(film),Bruce Beresford,"Jack Thompson,Edward Woodward"

Se crea Dataset de peliculas

In [8]:
movies = df.drop(['director','starring','uri','director'],axis=1)
len(movies)

3301

In [9]:
movies.head()

     id                     movie
0   781    Stealing Beauty (1996)
1  1799      Suicide Kings (1997)
2   521  Romeo Is Bleeding (1993)
3  3596            Screwed (2000)
4  3682       Magnum Force (1973)

In [10]:
ds_movies = pd.read_csv("ds_movies.csv", sep=','')
ds_movies = ds_movies.head(4000)

In [11]:
len(ds_movies)

4000

In [12]:
ds_movies.tail()

      movieId                             title                  genres
3995     4088              Big Town, The (1987)  Drama|Romance|Thriller
3996     4089          Born in East L.A. (1987)                  Comedy
3997     4090  Brave Little Toaster, The (1987)      Animation|Children
3998     4091          Can't Buy Me Love (1987)          Comedy|Romance
3999     4092                Cherry 2000 (1987)          Romance|Sci-Fi

In [13]:
csv_name = "movies.csv"
ds_movies.to_csv(csv_name, index=False, sep=';',encoding='utf-8')

Dataset de director

In [3]:
directors = df.drop(['id','movie','uri','starring'],axis=1)
len(directors)

3301

In [4]:
# dropping duplicate values 
directors.drop_duplicates(keep="first",inplace=True)

In [5]:
len(directors)

1496

In [6]:
directors.head(20)

                       director
0           Bernardo Bertolucci
1                Peter O'Fallon
2                   Peter Medak
3               Scott Alexander
4                      Ted Post
5               Leslie Goodwins
6           Paul W. S. Anderson
7                     Jon Blair
9               Bruce Beresford
10               Otto Preminger
11                 Vincent Ward
12              Kimberly Peirce
13              Sidney J. Furie
14              James L. Brooks
15             Davis Guggenheim
16             René Cardona Jr.
17             Robert Stevenson
18                 Joe Johnston
19                   Eric Bross
20  Michael Edward Lindsay-Hogg

In [7]:
csv_name = "directors.csv"
directors.to_csv(csv_name, index=False, sep=';',encoding='utf-8')

Creando Dataset artistas

In [24]:
actors = df.drop(['movie','uri','director'],axis=1)

In [31]:
actors.head(10)

      id                                           starring
0    781  Sinéad Cusack,Joseph Fiennes,Rachel Weisz,Jere...
1   1799  Henry Thomas,Denis Leary,Christopher Walken,Ja...
2    521  Roy Scheider,Annabella Sciorra,Lena Olin,Gary ...
3   3596  Sarah Silverman,Danny DeVito,Norm Macdonald,El...
4   3682  Clint Eastwood,Robert Urich,David Soul,Tim Mat...
5   2635                                 Virginia Christine
6   1590  Kathleen Quinlan,Sam Neill,Joely Richardson,La...
7    116    Glenn Close,Kenneth Branagh,Sir Kenneth Branagh
9   3811                      Jack Thompson,Edward Woodward
10  3801  Lee Remick,James Stewart,Arthur O'Connell,Geor...

In [26]:
len(actors)

3301

In [29]:
# dropping NaN values 
actors=actors.dropna()

In [30]:
len(actors)

2872

In [32]:
actors.reset_index(drop=True).head(10)

     id                                           starring
0   781  Sinéad Cusack,Joseph Fiennes,Rachel Weisz,Jere...
1  1799  Henry Thomas,Denis Leary,Christopher Walken,Ja...
2   521  Roy Scheider,Annabella Sciorra,Lena Olin,Gary ...
3  3596  Sarah Silverman,Danny DeVito,Norm Macdonald,El...
4  3682  Clint Eastwood,Robert Urich,David Soul,Tim Mat...
5  2635                                 Virginia Christine
6  1590  Kathleen Quinlan,Sam Neill,Joely Richardson,La...
7   116    Glenn Close,Kenneth Branagh,Sir Kenneth Branagh
8  3811                      Jack Thompson,Edward Woodward
9  3801  Lee Remick,James Stewart,Arthur O'Connell,Geor...

In [24]:
#Se crea Dataframe para guardar valores de actores
d = {'starring': []}
df = pd.DataFrame(data=d)
for x in range(len(actors)):
    #Se crea lista de los valores separados por coma
    lista = actors.starring.iloc[x].split(',')
    #Se convierte lista en array
    array = np.asarray(lista)
    #Se adiciona al dataset el array
    df = df.append(pd.DataFrame(array, columns=['starring']), ignore_index=True)

In [25]:
# df.head(10)

In [26]:
len(df)

14344

In [27]:
# dropping duplicate values 
df.drop_duplicates(keep='first',inplace=True)

In [28]:
len(df)

6115

In [30]:
csv_name = "actors.csv"
df.to_csv(csv_name, index=False, sep=';',encoding='utf-8')